body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}


.heading-primary{
    color:$color-white;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    &--main{
        font-family: 'Lobster', sans-serif;
        font-size: 9.5rem;
        letter-spacing: 5px;
        text-align: center;
        text-shadow: 2px 2px 1px $color-dark;
        line-height: 1;

        span{
            color:$color-primary;
        }

        animation: moveInLeft 1s ease-out;
    }

    &--sub{
        font-size: 2.3rem;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 1px 1px 1px $color-dark;
        text-align: center;
        line-height: 1;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary{
    line-height: 1;

    &--main{
        color:$color-dark;
        font-family: 'Lobster';
        font-size: 7.2rem;
        display: block;
        letter-spacing: 1px;
    }

    &--sub{
        color: $color-grey-light;
        display: block;
        font-size: 1.7rem;
        letter-spacing: 3px;
    }
}

.heading-tertiary{
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:$color-grey;
    font-weight: 500;
}

.heading-quaternary{
    font-size: 2rem;
    font-weight: 600;
    color: $color-dark;
    text-transform: uppercase;
    letter-spacing: normal;
}

.heading-footer{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 400;
}




.paragraph-primary{
    font-size: 1.9rem;
}

.paragraph-footer{
    font-size: 1.5rem;
    font-weight: 300;
}