$color-dark : #0e1111;
$color-white: #fff;
$color-almost-white:#FAFAFA;

$color-grey: #1d1e1f;
$color-grey-light: #8e8e8f;
$color-grey-medium: #C8C8C8;

$color-primary: #3498db;
$color-primary-dark: #073d7f;
$color-primary-light: #89d0ff;

$color-secondary: #FFA22C;
$color-secondary-dark :#FF8E00;
$color-secondary-light: #FFC67F;