.bullet-nav {
    list-style: none;
    position: fixed;
    right: 0.9vw;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
  
    &__item {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  
    &__link {
      border: 1px solid $color-primary-light;
      background-color: $color-primary-light;
      display: block;
      width: 15px;
      height: 15px;
      padding: 0;
      border-radius: 50%;
      margin-bottom: 14px;
      backface-visibility: hidden;
      transition: all .2s;
    }
  
    &__link:not(.active):hover {
      border: 1px solid #64B5F6;
      background-color: #64B5F6;
    }
  
    &__link.active {
      border: 2px solid $color-primary;
      background-color: $color-primary;
      transform: scale(1.1);
    }
  
    &__tooltip {
      position: relative;
    }
  
    &__tooltiptext {
      font-size: 1.2rem;
      visibility: hidden;
      width: 5.5rem;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: .5rem 0.1rem;
      position: absolute;
      z-index: 1;
      top: -3px;
      right: 155%;
      opacity: 0;
    }
  
    &__tooltiptext::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent black;
    }
  
    &__tooltip:hover > &__tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
  