.contact-info{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon{
        height: 2.4rem;
        width: 2.4rem;
        fill: $color-primary-dark;
        margin-right: .7rem;
    }

}