.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   

    &__group{
        display: flex;
        align-items: center;
        width: 60%;     
           &:not(:last-child){
            margin-bottom: 2rem;
           }
     
     
        &-icon{
            height: 5rem;
            width: 3rem;
            fill: $color-secondary;
            margin-right: 1rem;                   
        }
        
    }
    &__input,&__textarea{
        padding: 1rem;
        width: 100%;  
        font-family:inherit;
        font-size: 1.6rem;
        font-weight: 400;
        background-color:$color-almost-white;
        color:$color-dark;
        border:.2rem solid transparent;  
        border-bottom:.2rem solid $color-primary;  
        border-radius: 1px;    
        resize: none;          
        transition: all .3s;
        &:focus{
           outline: none;  
           border-bottom:.2rem solid $color-secondary-dark;   
                     
        }
        &::placeholder{
            color:$color-grey-medium;
           
        }   
        
        &--half{
            width: 49%;
            &:not(:last-child){
                margin-right: 2%;
            }
        }
    }  
   

    &__radio-group {
        width: 25%;
        display: inline-block;
        margin-right: 3rem;
    

    }

    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;        
        color:$color-grey-medium;
        transition: all .5s;
    }

    &__radio-button {
        height: 2.2rem;
        width: 2.2rem;
        border: .22rem solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 1rem;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.1rem;
            width: 1.1rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-secondary-dark;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;     
    }
    &__radio-input:checked ~ &__radio-label{
        color:$color-dark;
    }
}