.navigation{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9rem;
    z-index: 3;
    transition: all .25s;
    

    &__logo-box{
        flex: 0 0 20%;
    }

    &__list{
        list-style: none;
        display: flex;
        padding: 1rem;
    }

    &__item{
        margin-right: 3.5rem;
        &:last-child{
            margin-right: 4.5rem;
        }
    }

    &__link{
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        letter-spacing: 1px;
        font-size: 2rem;
        text-shadow: 1px 1px $color-dark;
        font-weight: 400;
        position: relative;
    }

    &__link.active {
        color: $color-primary;
        font-weight: 600;
      }
      
      &__link:after {
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: $color-primary;
        height: 2px;
        transition: all .4s;
      }

      &__link:not(.navigation__link--active):hover:after {
        width: 100%;
      }
}


.scrolled{
    height: 7rem;
    background-color:rgba($color-grey, 0.9);
}