.about{
    min-height: 100vh;

    &__work-cards-wrapper{
        display: flex;
    }

    
    &__team-cards-wrapper{
        display: flex;
    }


    &__testimonials-wrapper{
        background-color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        ::selection {
            background-color: $color-primary;
            color: $color-white;
          }
    }


}