.portfolio{
    min-height: 100vh;

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    &__item{
        flex: 0 0 calc(33.33333% - .25rem);
        margin: .125rem;
        position: relative;

        &::before{
            content:'';
            display: table;
            padding-top:100%;
        }
    }

    &__item-inner{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display:flex;
    }

    &__link{
        overflow: hidden;
        cursor: pointer;
        position: relative;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;

        &:hover .portfolio__img{
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        &:hover .portfolio__overlay {
            opacity: 1;
        }

        &:hover .portfolio__heading {
            bottom: 60%;
            opacity: 1;
        }

        &:hover .portfolio__description{
            bottom: 50%;
            opacity: 1;
        }
    }

    &__img{

        -webkit-transition: -webkit-transform 0.1s;
        transition: transform 0.3s;
        backface-visibility: hidden;
        will-change: transform;
        width:100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba($color-primary,.85);
        z-index: 10;
        opacity: 0;
        transition: opacity 0.3s;
        backface-visibility: hidden;
    }

    &__heading{
        position: absolute;
        bottom:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
        z-index: 11;
        backface-visibility: hidden;
    }

    &__description{
        position: absolute;
        bottom:40%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
        z-index: 11;
        backface-visibility: hidden;

    }

}