*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway';
  color: #0e1111;
  font-weight: 300;
  line-height: 1.6;
  background-color: #FAFAFA;
  display: grid;
  grid-template-rows: 100vh repeat(4, auto) 27vh;
  grid-row-gap: 16rem; }

.btn {
  padding: .8rem 1.2rem;
  border-radius: 2px;
  border: none;
  background-color: #FFA22C;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer; }
  .btn:hover {
    background-color: #FF8E00; }

.heading-secondary {
  line-height: 1;
  text-align: center; }
  .heading-secondary--main {
    color: #0e1111;
    font-family: 'Lobster';
    font-size: 7rem;
    display: block;
    letter-spacing: 1px; }
  .heading-secondary--sub {
    color: #8e8e8f;
    display: block;
    font-size: 1.6rem;
    letter-spacing: 4px; }

.heading-tertiary {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1d1e1f;
  font-weight: 500; }
  .heading-tertiary--center {
    text-align: center; }

.heading-quaternary {
  font-size: 2rem;
  font-weight: 600;
  color: #0e1111;
  text-transform: uppercase; }

.paragraph-primary {
  font-size: 1.9rem; }
  .paragraph-primary--justify {
    text-align: justify; }
  .paragraph-primary--center {
    text-align: center; }

@keyframes scrollDownAnim {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

.hr {
  width: 100%;
  height: 1px;
  opacity: 0.6;
  background: linear-gradient(to right, rgba(7, 61, 127, 0.2) 0%, rgba(7, 61, 127, 0.8) 50%, rgba(7, 61, 127, 0.2) 100%); }

.home {
  width: 100%;
  background-image: linear-gradient(rgba(14, 17, 17, 0.8), rgba(14, 17, 17, 0.8)), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1fr auto auto 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center; }
  .home__heading {
    color: #fff;
    text-align: center;
    grid-row: 2 / 3;
    margin-bottom: 1.8rem; }
    .home__heading--main {
      display: block;
      font-family: 'Lobster', sans-serif;
      font-size: 9.5rem;
      letter-spacing: 5px;
      line-height: 1;
      margin-bottom: 2.5rem; }
      .home__heading--main span {
        color: #3498db; }
    .home__heading--sub {
      display: block;
      font-weight: 400;
      font-size: 2.3rem;
      letter-spacing: 1px;
      line-height: 1; }
      .home__heading--sub .btn-more, .home__heading--sub .btn-more:link, .home__heading--sub .btn-more:visited {
        text-decoration: none;
        color: #FFA22C;
        margin-left: 3px;
        display: inline-block;
        backface-visibility: hidden;
        font-size: 2.4rem;
        transition: all .3s;
        font-weight: 500; }
      .home__heading--sub .btn-more:active, .home__heading--sub .btn-more:hover {
        transform: translateY(-2px) scale(1.2); }
  .home__btn {
    grid-row: 3 / 4; }

.btn-scroll {
  grid-row: 4 / 5;
  align-self: end;
  position: relative;
  margin-bottom: .5rem;
  padding-top: 5.7rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 200; }
  .btn-scroll__dot {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 3.3rem;
    height: 5.3rem;
    border: 2px solid #fff;
    border-radius: 50px; }
  .btn-scroll__dot::before {
    position: absolute;
    top: 1rem;
    left: 50%;
    content: '';
    width: .7rem;
    height: .7rem;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    animation: scrollDownAnim 2s infinite; }

.btn-contact, .btn-contact:link, .btn-contact:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid #FF8E00;
  border-radius: 1.5rem;
  padding: .7rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-contact:link, .btn-contact:visited {
  color: #fff;
  background-image: linear-gradient(66deg, transparent 0%, transparent 50%, #fff 52%);
  background-size: 219%;
  transition: all 0.3s;
  backface-visibility: hidden; }

.btn-contact:hover {
  background-position: 99%;
  color: #FF8E00;
  border: 2px solid #fff;
  transform: translateY(-0.5rem); }

.btn-contact:active {
  transform: translateY(0); }

.about {
  width: 100%;
  display: grid;
  grid-template-columns: [full-start] 6% repeat(6, [col-start] 1fr [col-end]) 6% [full-end];
  grid-row-gap: 11em;
  /*-- about us --*/
  /*-- how we work --*/
  /*-- meet the team --*/
  /*-- testimonials --*/ }
  .about__about-us {
    grid-column: col-start 1 / col-end 6; }
    .about__about-us h2 {
      margin-bottom: 5rem; }
  .about__how-we-work {
    grid-column: col-start 1 / col-end 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem; }
    .about__how-we-work h3 {
      margin-bottom: 5rem;
      grid-column: 1 / -1; }
  .about__meet-the-team {
    grid-column: col-start 1 / col-end 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 7rem; }
    .about__meet-the-team h3 {
      margin-bottom: 5rem;
      grid-column: 1 / -1; }
  .about__testimonials {
    background-color: #FFA22C;
    grid-column: full-start / full-end;
    padding: 0.7rem 0 7rem 0;
    display: grid;
    grid-template-columns: [full-start] 1fr [indicator1-start] min-content [indicator1-end testimonial-start] 40% [testimonial-end indicator2-start] min-content [indicator2-end] 1fr [full-end];
    grid-column-gap: 18rem; }
    .about__testimonials h3 {
      grid-column: full-start / full-end;
      text-align: center;
      margin-bottom: 7rem; }
    .about__testimonials .indicator {
      width: 6.5rem;
      cursor: pointer;
      transition: all .15s; }
      .about__testimonials .indicator:hover {
        transform: translateY(-0.5rem); }
      .about__testimonials .indicator:active {
        transform: translateY(0); }
      .about__testimonials .indicator--left {
        grid-column: indicator1-start / indicator1-end; }
      .about__testimonials .indicator--right {
        grid-column: indicator2-start / indicator2-end; }

/*====== HOW WE WORK CARD ======*/
.how-we-work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .how-we-work-card > *:not(:last-child) {
    margin-bottom: 1rem; }
  .how-we-work-card__icon {
    fill: #073d7f;
    height: 8.5rem;
    width: 8.5rem; }

/*====== MEET THE TEAM CARD ======*/
.meet-the-team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .meet-the-team-card > *:not(:last-child) {
    margin-bottom: 1rem; }
  .meet-the-team-card__circle {
    background-color: #addeff;
    width: 100%;
    border-radius: 50%;
    border: 1.2rem solid #d0ecff;
    position: relative; }
    .meet-the-team-card__circle::before {
      content: '';
      display: block;
      padding-bottom: 100%; }
  .meet-the-team-card__img {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    height: 90%; }

/*====== TESTIMONIAL ======*/
.testimonial {
  grid-column: testimonial-start / testimonial-end;
  position: relative; }
  .testimonial__quote {
    position: absolute;
    top: -5rem;
    left: -7rem;
    width: 5.5rem;
    height: 5.5rem; }
  .testimonial__cite {
    font-weight: 600;
    display: block;
    text-align: right; }

.services {
  width: 100%;
  display: grid;
  grid-template-columns: [full-start] 5% [mid-start] 1fr [mid-end] 5% [full-end];
  grid-gap: 5rem;
  background-color: #f9f7f6;
  padding: 2rem 0 0 0; }
  .services h2 {
    grid-column: full-start / full-end; }
  .services .hr {
    grid-column: mid-start / mid-end; }
  .services__technologies {
    grid-column: full-start / full-end;
    margin-top: 5rem;
    min-height: 27vh;
    background-image: linear-gradient(rgba(14, 17, 17, 0.7), rgba(14, 17, 17, 0.7)), url("../img/technologies.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 5rem;
    padding: 0 5rem; }
    .services__technologies h3 {
      color: #fff;
      grid-column: 1 / -1;
      text-align: center; }

/*====== SERVICE CARD ======*/
.service-card {
  grid-column: mid-start / mid-end;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-column-gap: 5rem;
  align-items: center; }
  .service-card__img {
    width: calc(100% - 5rem);
    align-self: top;
    grid-row: 1 / 2;
    grid-column: 2 / 3; }
  .service-card__text > h3 {
    margin-bottom: 1rem; }
  .service-card--reverse {
    grid-template-columns: 45% 55%; }
    .service-card--reverse .service-card__img {
      grid-column: 1 / 2; }

.technology-card__icon {
  width: 100%; }
  .technology-card__icon--github {
    fill: #fff; }

.portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: [full-start] 9% [mid-start] 1fr [mid-end] 9% [full-end];
  justify-items: center;
  /*-- portfolio wrapper --*/ }
  .portfolio h2 {
    grid-column: full-start / full-end;
    margin-bottom: 7rem; }
    .portfolio h2 > span:first-child {
      margin-bottom: 1rem; }
  .portfolio h3 {
    grid-column: full-start / full-end;
    margin-bottom: 2rem; }
  .portfolio__wrapper {
    width: 100%;
    grid-column: mid-start / mid-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem; }
    .portfolio__wrapper:not(:last-child) {
      margin-bottom: 9rem; }

/*====== PORTFOLIO CARD ======*/
.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 3px 8px rgba(7, 61, 127, 0.19), 0 1px 2px rgba(7, 61, 127, 0.23);
  padding-bottom: 1rem; }
  .portfolio-card > *:not(:last-child) {
    margin-bottom: 1rem; }
  .portfolio-card__img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .portfolio-card__img-container:hover > figcaption > svg {
      opacity: 1;
      top: 50%; }
    .portfolio-card__img-container::before {
      content: '';
      display: block;
      padding-bottom: 75%;
      background-color: red; }
  .portfolio-card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .portfolio-card__heading {
    font-size: 1.8rem;
    letter-spacing: 2px; }
  .portfolio-card__text {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.3; }
  .portfolio-card__btn {
    letter-spacing: normal;
    display: flex; }
    .portfolio-card__btn svg {
      height: 2rem;
      width: 2rem;
      margin-right: .7rem;
      fill: #fff; }
  .portfolio-card figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 30, 31, 0.7); }
  .portfolio-card__icon {
    fill: #3498db;
    height: 6.5rem;
    width: 6.5rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.contact {
  width: 100%;
  margin-bottom: -16rem;
  display: grid;
  grid-template-columns: [full-start] 6% repeat(2, [col-start] 1fr [col-end]) 6% [full-end];
  background-color: #f9f7f6;
  padding: 2rem 0 16rem 0;
  /*-- contact form container --*/
  /*-- info container --*/ }
  .contact h2 {
    grid-column: 1 / -1;
    margin-bottom: 9rem; }
  .contact__form-container {
    grid-column: col-start 1 / col-start 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .contact__form-container h3 {
      margin-bottom: 7rem; }
  .contact__info-container {
    grid-column: col-start 2 / col-start 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .contact__info-container > .info-card:not(:last-child) {
      margin-bottom: 5rem; }
    .contact__info-container h3 {
      margin-bottom: 7rem; }

/*====== CONTACT FORM ======*/
.form {
  width: 80%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
  .form__input {
    width: 100%;
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2px;
    display: block;
    border: 2px solid #3498db;
    transition: all .2s;
    background-color: rgba(255, 255, 255, 0.1); }
    .form__input:focus {
      outline: none;
      border: 2px solid #FFA22C; }
    .form__input--firstname {
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .form__input--lastname {
      grid-row: 1 / 2;
      grid-column: 2 / 3; }
    .form__input--email {
      grid-row: 2 / 3;
      grid-column: 1 / -1; }
  .form__textarea {
    margin-top: 1rem;
    grid-column: 1 / -1;
    width: 100%;
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2px;
    display: block;
    border: 2px solid #3498db;
    resize: none;
    background-color: rgba(255, 255, 255, 0.1); }
    .form__textarea:focus {
      outline: none;
      border: 2px solid #FFA22C; }
  .form__btn {
    grid-column: 2 / 3;
    width: 100%; }
  .form__text {
    margin-top: 1rem;
    grid-column: 1 / -1;
    justify-self: start;
    font-size: 1.7rem;
    font-weight: 500; }
  .form__radio-group {
    width: 100%;
    display: inline-block;
    padding: .2rem; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-button {
    height: 2.5rem;
    width: 2.5rem;
    border: 4px solid #3498db;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.2rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.1rem;
      width: 1.1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFA22C;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

/*====== INFO CARD ======*/
.info-card {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: .8rem; }
  .info-card__icon {
    grid-column: 1 / 2;
    height: 3.5rem;
    width: 3.5rem;
    fill: #073d7f; }
  .info-card h4 {
    grid-column: 2 / 3; }
  .info-card p {
    grid-column: 1 / 3; }

.footer {
  background-color: #1d1e1f;
  display: grid;
  grid-template-columns: [full-start] 5% [footerset-1-start] auto [footerset-1-end logo-start] 1fr [logo-end footerset-2-start] auto [footerset-2-end] 5% [full-end];
  grid-template-rows: auto min-content; }
  .footer__set {
    display: flex;
    margin-top: 5rem; }
    .footer__set--social {
      grid-column: footerset-1-start / footerset-1-end; }
    .footer__set--scrolltop {
      grid-column: footerset-2-start / footerset-2-end; }
  .footer__heading {
    font-size: 1.9rem;
    color: #fff;
    font-weight: 300; }
  .footer__circle {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    border: 2px solid #073d7f;
    border-radius: 50%;
    transform: translateY(-1.55rem); }
    .footer__circle:hover, .footer__circle:active {
      box-shadow: 0 0 12px 0 #073d7f; }
    .footer__circle--scrolltop {
      border: 1px solid #FF8E00; }
      .footer__circle--scrolltop:hover, .footer__circle--scrolltop:active {
        box-shadow: 0 0 12px 0 #FF8E00; }
  .footer__icon {
    fill: #fff;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer; }
  .footer__text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    grid-column: full-start / full-end; }
